# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments

.venv/
venv/
env/

# Environment Files

.env
.env.local
.env.development.local
.env.production.local

# Python Build Files

build/
dist/
*.egg-info/
*.egg

# Testing

.pytest_cache/
.coverage
htmlcov/

# Jupyter

.ipynb_checkpoints/

# IDE

.vscode/
.idea/

# Logs

*.log

# React / Vite

node_modules/
frontend/node_modules/
frontend_old/node_modules/

dist/
coverage/

# OS Files

.DS_Store
Thumbs.db

# Temporary Files

tempCodeRunnerFile.py
